spring:

  datasource:
    url: jdbc:postgresql://localhost:5432/Community
    username: postgres
    password: nani
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  # Mail Configuration
  mail:
    host: smtp.gmail.com
    port: 587
    username: your@gmail.com
    password: xxxxxxxxxxxxxxxx // get from google passwords
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: smtp.gmail.com


  # Thymeleaf Configuration
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    cache: false


app:
  email:
    from: sudhrshan18@gmail.com
  mail:
    mailtrap:
      token: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx // get from mail trap
